<section class="social">
    {% if site.social-links.dribbble %}<a href="http://dribbble.com/{{ site.social-links.dribbble }}">{% include svg-icons/dribbble.html %}</a>{% endif %}
    {% if site.social-links.email %}<a href="mailto:{{ site.social-links.email }}">{% include svg-icons/email.html %}</a>{% endif %}
    {% if site.social-links.facebook %}<a href="http://facebook.com/{{ site.social-links.facebook }}">{% include svg-icons/facebook.html %}</a>{% endif %}
    {% if site.social-links.flickr %}<a href="http://flickr.com/{{ site.social-links.flickr }}">{% include svg-icons/flickr.html %}</a>{% endif %}
    {% if site.social-links.github %}<a href="http://github.com/{{ site.social-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}
    {% if site.social-links.instagram %}<a href="http://instagram.com/{{ site.social-links.instagram }}">{% include svg-icons/instagram.html %}</a>{% endif %}
    {% if site.social-links.linkedin %}<a href="http://linkedin.com/in/{{ site.social-links.linkedin }}">{% include svg-icons/linkedin.html %}</a>{% endif %}
    {% if site.social-links.pinterest %}<a href="http://pinterest.com/{{ site.social-links.pinterest }}">{% include svg-icons/pinterest.html %}</a>{% endif %}
    {% if site.social-links.rss %}<a href="{{ site.github.url }}/feed.xml">{% include svg-icons/rss.html %}</a>{% endif %}
    {% if site.social-links.twitter %}<a href="http://twitter.com/{{ site.social-links.twitter }}">{% include svg-icons/twitter.html %}</a>{% endif %}
    {% if site.social-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.social-links.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>{% endif %}
</section>